.header {
    background: $main-color;
    max-height: 700px;
    position: relative;
    overflow: hidden;

    @media (min-width: $min-width) {
       background: none; 
    }
}

.header-content {
    margin: 8% auto 0 auto;
    max-width: 890px;
    padding: 0 6%;
    
    @media (min-width: $min-width) {
        padding: 0;
    }

    h2 {
        color: $light-color;
        font-family: Arial;
        font-weight: 100;
        line-height: 32px;
    }
}

.header-top-frame {
    background: $main-color;
    height: 10px;
}

.header-logo {
    padding: 0 5%;
    width: 183;
    margin: 6% 0;

    @media (min-width: $min-width) {
        padding: 0;
    }

    h1 {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.header-mobile {
    display: none;

    @media (min-width: $min-width) {
        display: block;
        overflow: hidden;
        height: 500px;
        background: url("../images/mobile.png") no-repeat bottom;
        background-size: contain;
        padding: 66px 0 0 65px;
        position: relative;

       .slider-img-mobile {
            position: absolute;
            z-index: -2;
        }

        .active-mobile {
            z-index: 1; 
        }
    }
}

.header-icons {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 8%;

    @media (min-width: $min-width) {
        text-align: left;
    }
}

.mobile-icon {
    background: rgba($dark-color, .5);
    color: rgba($light-color, .5);
    font-size: 1.6rem;
    height: 53px;
    padding-top: 13px;
    margin-right: 15px;
    width: 53px;

    &:hover {
        background: $main-color;
        color: $light-color;
    }
}

.slider {
    position: relative;

    .slider-img {
        display: none;
    }

    @media (min-width: $min-width) {
        .slider-img {
            display: block;
            position: absolute;
            width: 100%;
            z-index: -2;
        }

            .active {
            z-index: -1; 
        }
    }
}